**/.ipynb_checkpoints 
deepfakes_video_classification/evaluate_fb 
deepfakes_video_classification/face_embeddings
deepfakes_video_classification/train_data
deepfakes_video_classification/train_face
deepfakes_video_classification/train_frames
**/.nfs*
